<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery( JavaScript 라이브러리 ) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <h1 th:if="${session.loginUser}">로그인됨 : [[${session.loginUser.userName}]]</h1>

    <h3>회원 추가</h3>
    <form action="/v01/user" method="post">
        <input type="text" name="userName"> <button type="submit">일반 회원</button>
    </form>
    <form action="/v01/mentor" method="post">
        <input type="text" name="userName"> <button type="submit">멘토</button>
    </form>

    <h2>유저 목록</h2>
    <table>
        <tr>
            <th>이름</th>
            <th></th>
            <th>역할</th>
        </tr>
        <tr th:each="user: ${userList}">
            <td>
                <button class="loginBtn" th:data-user-id="${user.uid}">[[${user.userName}]]</button>
            </td>
            <td> ~~ </td>
            <td th:text="${user.role}"></td>
        </tr>
    </table>

</body>
<script>

    $(".loginBtn").on("click", function() {
        var userId = $(this).data("user-id");

        $.ajax({
            type:"get",
            url:"/v01/api/login/" + userId,
            success:function(response) { },
            error:function(xhr) {
                let response = xhr.responseJSON;
                console.log(response);
                alert("로그인 실패 \n" + response.message);
            }
        });
    });

</script>
</html>