<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <header></header>
  <link href="/css/chatHome.css" rel="stylesheet">
  <script src="/js/chatHome.js"></script>
  <script>
    window.onload = () => {
		connect();
      fetchChatterList();
      handlePopover();
    }
  </script>
</head>
<body>

  <div class="container" style="margin-top:80px">
		<div class="row">
			<div class="col-3">
        		기존 이미지 자리
			</div>

			<div class="col-9">
				<main>
					<h3><strong>채팅 홈</strong></h3>
					<hr>

					<div class="row">
						<div class="col-3"></div>
						<div class="col-6">
							<!--
								<input type="hidden" id="userId" th:value="${session.sessUid}">
								<input type="hidden" id="chattingStatus" th:value="${session.chattingStatus}">
								<input type="hidden" id="serverPort" th:value="${session.serverPort}">
								<input type="hidden" id="serverIp" th:value="${session.serverIp}">
							-->

							<table class="table">
								<thead>
									<tr>
										<td style="width: 12%; text-align: center;">
											<div width="48">멘토 이미지자리</div>
										</td>
										<td style="width: 64%;">
											<span style="font-weight: bold;" >멘토 이름</span> <!-- th:text="${user.uname}" -->
											<input type="hidden" id="userId" > <!-- th:value="${user.uid}" -->
										</td>
										<td style="width: 24%; text-align: right;">
											<i id="statusIcon" class="fa-solid fa-link">연결되있는지 상태</i>
										</td>
									</tr>
								</thead>

								<!-- js파일에 있음, Chatter List( 동적으로 바뀜 ) -->
								<tbody></tbody>

							</table>
						</div>
						<div class="col-3"></div>
					</div>
				</main>
			</div>
		</div>
  </div>
</body>
</html>